* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

body {
    background-color:#004D40;
    /* #00695C;*/
     color: #fff;
     /* #E0F7FA;*/ 
}
.blog {
    padding: 20px 350px;

}

.blog h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.blog p {
    font-size: 20px;;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;} 

.navLinks {
    flex:1;
    text-align: right;
}

.navLinks ul li  {
    display: inline-block;
    position: relative;
    
}

.navLinks ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13.5px;
    padding: 4px 8px;
}

.navLinks ul li::after {
    content: '';
    width:0%;
    height: 2px;
    background: #04e762;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLinks ul li:hover::after
{ width: 100%;}

.navLinks ul {
    list-style: none;
}

.navLinks ul li a {
    display: block;
padding: 4px 8px;
    color: #fff;
    text-decoration: none;
}




.navLinks ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    background: #0cde64a0;
    transition:   max-height 0.4s ease, opacity 0.6s ease;
    box-shadow: 0 4px 16px 0 rgba(19, 120, 58, 0.827);
    border-radius: 5px;
}

.navLinks ul li:hover ul.dropdown {
    max-height: 800px;

    
    opacity: 1;
    visibility: visible;
}

.navLinks ul li ul.dropdown li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.navLinks ul li ul.dropdown li a {
    padding: 10px 0;
    color: #fff;
    font-size: 13px;
}

.navLinks ul li ul.dropdown li:hover {
    background: #04e762;
}

.navLinks ul li ul.dropdown li:hover a {
    color: #fff;
}

.navLinks ul li ul.dropdown li:hover::after {
    background: #fff;
}

.navLinks ul li ul.dropdown li:hover::before {
    background: #fff;
}

.navLinks ul li ul.dropdown li::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #04e762;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.spacer {
    padding: 20px;
}





.present {
    width: 100%;
    margin: auto;
    text-align:center;
    padding-top: 50px;
}


.we {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.we img{
width: 80%;
height: 80%;
border-radius: 10px;
}

.layer {
    background:  transparent;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    transition: 0.5s;
    border-radius: 11PX;
}

.layer:hover{
    background: linear-gradient(90deg, #0e685a 0%, #089670 100%);
    opacity: 0.9;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.9s
}

.layer:hover h3{
    bottom: 20%;
    opacity: 1;
}

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.footerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 40vh;
    background-color: #004D40;
}

footer {
    position: relative;
    width: 100%;
    background-color: #096a5a;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #0e685a 0%, #089670 100%);
}



footer .socialIcons, 
footer .menu 
{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .socialIcons li,
footer .menu li {
    list-style: none;
}

footer .socialIcons li a 
{
    font-size: 1.6em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .socialIcons li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}


.container4 {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #076247 0%, #036252 25%, #096164 50%, #105f66 75%, #0f5e68 100%);
    animation: gradient-pulse 10s ease infinite;
}

@keyframes gradient-pulse {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.vid{
    padding: 15px;
}

.vid iframe {


    padding-left: 100px;
    padding-top: 100px;
}



.tt {
    margin-left: 60%;
    margin-bottom: 30%;
}

.container5 {
    padding: 20px 250px;
    background: linear-gradient(135deg, #076247 0%, #036252 25%, #096164 50%, #105f66 75%, #0f5e68 100%);
    animation: gradient-pulse 10s ease infinite;
}
    

.container5 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.container5 p {
    font-size: 20px;;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    padding-top: 20px;
}

.blog a {text-decoration: none;
color:rgba(112, 224, 155, 0.827)
}

.verder {
    padding-top: 30px;
}

.verder a {
    text-align: justify;
    padding-left: 350px;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.verder a:hover{
    font-size: 26px;
}

.blog H1 {
    padding-top: 15px;
    padding-bottom: 15px;
}